USE [master]
GO
/****** Object:  Database [PBL3_Ver6]    Script Date: 6/12/2026 4:28:25 PM ******/
CREATE DATABASE [PBL3_Ver6]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PBL3_Ver5', FILENAME = N'/var/opt/mssql/data/bfa51ef8-870a-4623-bd76-b405ea2eccfb_1_PBL3_Ver5.mdf' , SIZE = 16064KB , MAXSIZE = UNLIMITED, FILEGROWTH = 10%)
 LOG ON 
( NAME = N'PBL3_Ver5_log', FILENAME = N'/var/opt/mssql/data/bfa51ef8-870a-4623-bd76-b405ea2eccfb_2_PBL3_Ver5_log.ldf' , SIZE = 2560KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PBL3_Ver6].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PBL3_Ver6]
GO
USE [PBL3_Ver6]
GO
/****** Object:  Sequence [dbo].[Seq_ChiTietHoaDon]    Script Date: 6/12/2026 4:28:26 PM ******/
CREATE SEQUENCE [dbo].[Seq_ChiTietHoaDon] 
 AS [bigint]
 START WITH 1
 INCREMENT BY 1
 MINVALUE -9223372036854775808
 MAXVALUE 9223372036854775807
 CACHE 
GO
USE [PBL3_Ver6]
GO
/****** Object:  Sequence [dbo].[Seq_DatPhong]    Script Date: 6/12/2026 4:28:27 PM ******/
CREATE SEQUENCE [dbo].[Seq_DatPhong] 
 AS [bigint]
 START WITH 1
 INCREMENT BY 1
 MINVALUE -9223372036854775808
 MAXVALUE 9223372036854775807
 CACHE 
GO
USE [PBL3_Ver6]
GO
/****** Object:  Sequence [dbo].[Seq_HoaDon]    Script Date: 6/12/2026 4:28:27 PM ******/
CREATE SEQUENCE [dbo].[Seq_HoaDon] 
 AS [bigint]
 START WITH 1
 INCREMENT BY 1
 MINVALUE -9223372036854775808
 MAXVALUE 9223372036854775807
 CACHE 
GO
USE [PBL3_Ver6]
GO
/****** Object:  Sequence [dbo].[Seq_KhachHang]    Script Date: 6/12/2026 4:28:27 PM ******/
CREATE SEQUENCE [dbo].[Seq_KhachHang] 
 AS [bigint]
 START WITH 1
 INCREMENT BY 1
 MINVALUE -9223372036854775808
 MAXVALUE 9223372036854775807
 CACHE 
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 6/12/2026 4:28:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BangGiaPhong]    Script Date: 6/12/2026 4:28:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BangGiaPhong](
	[MaBangGia] [char](10) NOT NULL,
	[MaLoaiPhong] [char](10) NOT NULL,
	[TuNgay] [date] NOT NULL,
	[DenNgay] [date] NOT NULL,
	[ThuApDung] [tinyint] NULL,
	[GiaApDung] [decimal](18, 2) NOT NULL,
	[LoaiGia] [nvarchar](20) NOT NULL,
	[UuTien] [int] NOT NULL,
	[TrangThai] [nvarchar](30) NOT NULL,
	[GhiChu] [nvarchar](255) NULL,
 CONSTRAINT [PK_BangGiaPhong] PRIMARY KEY CLUSTERED 
(
	[MaBangGia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietHoaDon]    Script Date: 6/12/2026 4:28:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHoaDon](
	[MaCTHD] [char](10) NOT NULL,
	[MaHoaDon] [char](10) NOT NULL,
	[LoaiMuc] [nvarchar](30) NOT NULL,
	[MaPhong] [char](10) NULL,
	[MaDV] [char](10) NULL,
	[MaGiamGia] [char](10) NULL,
	[NoiDung] [nvarchar](255) NOT NULL,
	[NgayApDung] [date] NULL,
	[SoNguoi] [int] NOT NULL,
	[SoLuong] [int] NOT NULL,
	[DonGia] [decimal](18, 2) NOT NULL,
	[ThanhTien] [decimal](18, 2) NOT NULL,
	[TrangThai] [nvarchar](20) NOT NULL,
	[GhiChu] [nvarchar](500) NULL,
	[MaLoaiPhong] [char](10) NULL,
 CONSTRAINT [PK_ChiTietHoaDon] PRIMARY KEY CLUSTERED 
(
	[MaCTHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DatPhong]    Script Date: 6/12/2026 4:28:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DatPhong](
	[MaDatPhong] [char](10) NOT NULL,
	[MaKH] [char](10) NOT NULL,
	[MaNV] [char](10) NOT NULL,
	[TenKH_Snapshot] [nvarchar](100) NULL,
	[CCCD_Snapshot] [varchar](20) NULL,
	[SDT_Snapshot] [varchar](15) NULL,
	[NgayDat] [datetime] NOT NULL,
	[NgayNhanPhong] [date] NOT NULL,
	[NgayTraPhong] [date] NOT NULL,
	[TrangThai] [nvarchar](30) NOT NULL,
	[GhiChu] [nvarchar](255) NULL,
 CONSTRAINT [PK_DatPhong] PRIMARY KEY CLUSTERED 
(
	[MaDatPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DichVu]    Script Date: 6/12/2026 4:28:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DichVu](
	[MaDV] [char](10) NOT NULL,
	[TenDV] [nvarchar](100) NOT NULL,
	[DonGia] [decimal](18, 2) NOT NULL,
	[DonViTinh] [nvarchar](30) NOT NULL,
	[TrangThai] [nvarchar](30) NOT NULL,
	[GhiChu] [nvarchar](255) NULL,
	[LoaiDichVu] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_DichVu] PRIMARY KEY CLUSTERED 
(
	[MaDV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_DichVu_TenDV] UNIQUE NONCLUSTERED 
(
	[TenDV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GiaPhongTheoNgay]    Script Date: 6/12/2026 4:28:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GiaPhongTheoNgay](
	[MaGia] [varchar](10) NOT NULL,
	[MaLoaiPhong] [varchar](10) NOT NULL,
	[TuNgay] [date] NOT NULL,
	[DenNgay] [date] NOT NULL,
	[ThuApDung] [int] NULL,
	[Gia] [decimal](18, 2) NOT NULL,
	[LoaiGia] [nvarchar](50) NULL,
	[UuTien] [int] NULL,
	[GhiChu] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 6/12/2026 4:28:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[MaHoaDon] [char](10) NOT NULL,
	[MaDatPhong] [char](10) NOT NULL,
	[TongTienPhong] [decimal](18, 2) NOT NULL,
	[TongTienDichVu] [decimal](18, 2) NOT NULL,
	[TienDatCoc] [decimal](18, 2) NOT NULL,
	[MaGiamGiaPhong] [char](10) NULL,
	[TienGiamGiaPhong] [decimal](18, 2) NOT NULL,
	[TongThanhToan] [decimal](18, 2) NOT NULL,
	[SoTienDaThanhToan] [decimal](18, 2) NOT NULL,
	[NgayThanhToanCuoi] [datetime] NULL,
	[PhuongThucThanhToan] [nvarchar](30) NULL,
	[TrangThai] [nvarchar](30) NOT NULL,
	[GhiChu] [nvarchar](255) NULL,
 CONSTRAINT [PK_HoaDon] PRIMARY KEY CLUSTERED 
(
	[MaHoaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_HoaDon_MaDatPhong] UNIQUE NONCLUSTERED 
(
	[MaDatPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 6/12/2026 4:28:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKH] [char](10) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[GioiTinh] [nvarchar](10) NULL,
	[NgaySinh] [date] NULL,
	[CCCD] [varchar](20) NULL,
	[SoDienThoai] [varchar](15) NULL,
	[Email] [varchar](100) NULL,
	[DiaChi] [nvarchar](255) NULL,
	[QuocTich] [nvarchar](50) NULL,
 CONSTRAINT [PK_KhachHang] PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_KhachHang_CCCD] UNIQUE NONCLUSTERED 
(
	[CCCD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LinkAnh]    Script Date: 6/12/2026 4:28:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LinkAnh](
	[MaAnh] [char](10) NOT NULL,
	[DoiTuong] [nvarchar](50) NOT NULL,
	[UrlAnh] [nvarchar](500) NOT NULL,
	[ThongTin] [nvarchar](255) NULL,
	[ThuTu] [int] NOT NULL,
	[LaAnhDaiDien] [bit] NOT NULL,
	[TrangThai] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_LinkAnh] PRIMARY KEY CLUSTERED 
(
	[MaAnh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiPhong]    Script Date: 6/12/2026 4:28:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiPhong](
	[MaLoaiPhong] [char](10) NOT NULL,
	[TenLoaiPhong] [nvarchar](50) NOT NULL,
	[SoNguoiToiDa] [int] NOT NULL,
	[MoTa] [nvarchar](255) NULL,
 CONSTRAINT [PK_LoaiPhong] PRIMARY KEY CLUSTERED 
(
	[MaLoaiPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_LoaiPhong_TenLoaiPhong] UNIQUE NONCLUSTERED 
(
	[TenLoaiPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MaGiamGia]    Script Date: 6/12/2026 4:28:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MaGiamGia](
	[MaGiamGia] [char](10) NOT NULL,
	[CodeGiamGia] [varchar](30) NOT NULL,
	[TenMaGiamGia] [nvarchar](100) NOT NULL,
	[LoaiGiamGia] [nvarchar](20) NOT NULL,
	[GiaTriGiam] [decimal](18, 2) NOT NULL,
	[HoaDonToiThieu] [decimal](18, 2) NOT NULL,
	[GiamToiDa] [decimal](18, 2) NULL,
	[PhamViApDung] [nvarchar](20) NOT NULL,
	[TuNgay] [date] NOT NULL,
	[DenNgay] [date] NOT NULL,
	[SoLuongPhatHanh] [int] NOT NULL,
	[SoLuongDaDung] [int] NOT NULL,
	[TrangThai] [nvarchar](30) NOT NULL,
	[MoTa] [nvarchar](255) NULL,
	[GhiChu] [nvarchar](255) NULL,
 CONSTRAINT [PK_MaGiamGia] PRIMARY KEY CLUSTERED 
(
	[MaGiamGia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_MaGiamGia_Code] UNIQUE NONCLUSTERED 
(
	[CodeGiamGia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 6/12/2026 4:28:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNV] [char](10) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[GioiTinh] [nvarchar](10) NULL,
	[NgaySinh] [date] NULL,
	[SoDienThoai] [varchar](15) NULL,
	[Email] [varchar](100) NULL,
	[DiaChi] [nvarchar](255) NULL,
	[ChucVu] [nvarchar](50) NULL,
	[TrangThai] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_NhanVien] PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_NhanVien_Email] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_NhanVien_SDT] UNIQUE NONCLUSTERED 
(
	[SoDienThoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Phong]    Script Date: 6/12/2026 4:28:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Phong](
	[MaPhong] [char](10) NOT NULL,
	[SoPhong] [varchar](10) NOT NULL,
	[MaLoaiPhong] [char](10) NOT NULL,
	[Tang] [int] NOT NULL,
	[TrangThai] [nvarchar](30) NOT NULL,
	[GhiChu] [nvarchar](255) NULL,
 CONSTRAINT [PK_Phong] PRIMARY KEY CLUSTERED 
(
	[MaPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Phong_SoPhong] UNIQUE NONCLUSTERED 
(
	[SoPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 6/12/2026 4:28:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[MaTK] [char](10) NOT NULL,
	[TenDangNhap] [varchar](50) NOT NULL,
	[MatKhau] [nvarchar](255) NOT NULL,
	[MaNV] [char](10) NOT NULL,
	[MaVaiTro] [char](10) NOT NULL,
	[TrangThai] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_TaiKhoan] PRIMARY KEY CLUSTERED 
(
	[MaTK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_TaiKhoan_MaNV] UNIQUE NONCLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_TaiKhoan_TenDangNhap] UNIQUE NONCLUSTERED 
(
	[TenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VaiTro]    Script Date: 6/12/2026 4:28:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VaiTro](
	[MaVaiTro] [char](10) NOT NULL,
	[TenVaiTro] [nvarchar](50) NOT NULL,
	[MoTa] [nvarchar](255) NULL,
 CONSTRAINT [PK_VaiTro] PRIMARY KEY CLUSTERED 
(
	[MaVaiTro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_VaiTro_TenVaiTro] UNIQUE NONCLUSTERED 
(
	[TenVaiTro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_BangGiaPhong_CurrentPriceLookup]    Script Date: 6/12/2026 4:28:27 PM ******/
CREATE NONCLUSTERED INDEX [IX_BangGiaPhong_CurrentPriceLookup] ON [dbo].[BangGiaPhong]
(
	[MaLoaiPhong] ASC,
	[TrangThai] ASC,
	[TuNgay] ASC,
	[DenNgay] ASC,
	[UuTien] ASC,
	[LoaiGia] ASC,
	[ThuApDung] ASC
)
INCLUDE([GiaApDung]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_BangGiaPhong_MaLoaiPhong]    Script Date: 6/12/2026 4:28:27 PM ******/
CREATE NONCLUSTERED INDEX [IX_BangGiaPhong_MaLoaiPhong] ON [dbo].[BangGiaPhong]
(
	[MaLoaiPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_BangGiaPhong_TuNgay_DenNgay]    Script Date: 6/12/2026 4:28:27 PM ******/
CREATE NONCLUSTERED INDEX [IX_BangGiaPhong_TuNgay_DenNgay] ON [dbo].[BangGiaPhong]
(
	[TuNgay] ASC,
	[DenNgay] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ChiTietHoaDon_LoaiMuc]    Script Date: 6/12/2026 4:28:27 PM ******/
CREATE NONCLUSTERED INDEX [IX_ChiTietHoaDon_LoaiMuc] ON [dbo].[ChiTietHoaDon]
(
	[LoaiMuc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ChiTietHoaDon_LoaiMuc_TrangThai_MaHoaDon]    Script Date: 6/12/2026 4:28:27 PM ******/
CREATE NONCLUSTERED INDEX [IX_ChiTietHoaDon_LoaiMuc_TrangThai_MaHoaDon] ON [dbo].[ChiTietHoaDon]
(
	[LoaiMuc] ASC,
	[TrangThai] ASC,
	[MaHoaDon] ASC
)
INCLUDE([MaPhong],[MaLoaiPhong],[MaDV],[SoLuong],[DonGia],[SoNguoi],[NoiDung],[NgayApDung]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ChiTietHoaDon_MaPhong]    Script Date: 6/12/2026 4:28:27 PM ******/
CREATE NONCLUSTERED INDEX [IX_ChiTietHoaDon_MaPhong] ON [dbo].[ChiTietHoaDon]
(
	[MaPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ChiTietHoaDon_TrangThai]    Script Date: 6/12/2026 4:28:27 PM ******/
CREATE NONCLUSTERED INDEX [IX_ChiTietHoaDon_TrangThai] ON [dbo].[ChiTietHoaDon]
(
	[TrangThai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_CTHD_LoaiMuc_TrangThai_MaLoaiPhong_MaHoaDon]    Script Date: 6/12/2026 4:28:27 PM ******/
CREATE NONCLUSTERED INDEX [IX_CTHD_LoaiMuc_TrangThai_MaLoaiPhong_MaHoaDon] ON [dbo].[ChiTietHoaDon]
(
	[LoaiMuc] ASC,
	[TrangThai] ASC,
	[MaLoaiPhong] ASC,
	[MaHoaDon] ASC
)
INCLUDE([MaPhong],[NoiDung],[SoLuong],[SoNguoi],[ThanhTien]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_CTHD_LoaiMuc_TrangThai_MaPhong_MaHoaDon]    Script Date: 6/12/2026 4:28:27 PM ******/
CREATE NONCLUSTERED INDEX [IX_CTHD_LoaiMuc_TrangThai_MaPhong_MaHoaDon] ON [dbo].[ChiTietHoaDon]
(
	[LoaiMuc] ASC,
	[TrangThai] ASC,
	[MaPhong] ASC,
	[MaHoaDon] ASC
)
INCLUDE([MaLoaiPhong],[NoiDung],[SoLuong],[SoNguoi],[ThanhTien]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_CTHD_MaDV]    Script Date: 6/12/2026 4:28:27 PM ******/
CREATE NONCLUSTERED INDEX [IX_CTHD_MaDV] ON [dbo].[ChiTietHoaDon]
(
	[MaDV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_CTHD_MaHoaDon]    Script Date: 6/12/2026 4:28:27 PM ******/
CREATE NONCLUSTERED INDEX [IX_CTHD_MaHoaDon] ON [dbo].[ChiTietHoaDon]
(
	[MaHoaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_CTHD_MaLoaiPhong]    Script Date: 6/12/2026 4:28:27 PM ******/
CREATE NONCLUSTERED INDEX [IX_CTHD_MaLoaiPhong] ON [dbo].[ChiTietHoaDon]
(
	[MaLoaiPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_CTHD_MaPhong]    Script Date: 6/12/2026 4:28:27 PM ******/
CREATE NONCLUSTERED INDEX [IX_CTHD_MaPhong] ON [dbo].[ChiTietHoaDon]
(
	[MaPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CTHD_NgayApDung]    Script Date: 6/12/2026 4:28:27 PM ******/
CREATE NONCLUSTERED INDEX [IX_CTHD_NgayApDung] ON [dbo].[ChiTietHoaDon]
(
	[NgayApDung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_DatPhong_MaKH]    Script Date: 6/12/2026 4:28:27 PM ******/
CREATE NONCLUSTERED INDEX [IX_DatPhong_MaKH] ON [dbo].[DatPhong]
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_DatPhong_MaNV]    Script Date: 6/12/2026 4:28:27 PM ******/
CREATE NONCLUSTERED INDEX [IX_DatPhong_MaNV] ON [dbo].[DatPhong]
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DatPhong_NgayDat]    Script Date: 6/12/2026 4:28:27 PM ******/
CREATE NONCLUSTERED INDEX [IX_DatPhong_NgayDat] ON [dbo].[DatPhong]
(
	[NgayDat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DatPhong_NgayNhanPhong]    Script Date: 6/12/2026 4:28:27 PM ******/
CREATE NONCLUSTERED INDEX [IX_DatPhong_NgayNhanPhong] ON [dbo].[DatPhong]
(
	[NgayNhanPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DatPhong_NgayTraPhong]    Script Date: 6/12/2026 4:28:27 PM ******/
CREATE NONCLUSTERED INDEX [IX_DatPhong_NgayTraPhong] ON [dbo].[DatPhong]
(
	[NgayTraPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_DatPhong_TrangThai]    Script Date: 6/12/2026 4:28:27 PM ******/
CREATE NONCLUSTERED INDEX [IX_DatPhong_TrangThai] ON [dbo].[DatPhong]
(
	[TrangThai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_DatPhong_TrangThai_NgayDat]    Script Date: 6/12/2026 4:28:27 PM ******/
CREATE NONCLUSTERED INDEX [IX_DatPhong_TrangThai_NgayDat] ON [dbo].[DatPhong]
(
	[TrangThai] ASC,
	[NgayDat] ASC
)
INCLUDE([MaDatPhong],[NgayNhanPhong],[NgayTraPhong],[MaKH],[MaNV]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_DatPhong_TrangThai_NgayNhan_NgayTra]    Script Date: 6/12/2026 4:28:27 PM ******/
CREATE NONCLUSTERED INDEX [IX_DatPhong_TrangThai_NgayNhan_NgayTra] ON [dbo].[DatPhong]
(
	[TrangThai] ASC,
	[NgayNhanPhong] ASC,
	[NgayTraPhong] ASC
)
INCLUDE([MaDatPhong],[NgayDat],[MaKH],[MaNV]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_DatPhong_TrangThai_NgayNhanPhong]    Script Date: 6/12/2026 4:28:27 PM ******/
CREATE NONCLUSTERED INDEX [IX_DatPhong_TrangThai_NgayNhanPhong] ON [dbo].[DatPhong]
(
	[TrangThai] ASC,
	[NgayNhanPhong] ASC
)
INCLUDE([MaDatPhong],[NgayTraPhong]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_HoaDon_MaGiamGiaPhong_TrangThai]    Script Date: 6/12/2026 4:28:27 PM ******/
CREATE NONCLUSTERED INDEX [IX_HoaDon_MaGiamGiaPhong_TrangThai] ON [dbo].[HoaDon]
(
	[MaGiamGiaPhong] ASC,
	[TrangThai] ASC
)
INCLUDE([TienGiamGiaPhong]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_HoaDon_NgayThanhToanCuoi]    Script Date: 6/12/2026 4:28:27 PM ******/
CREATE NONCLUSTERED INDEX [IX_HoaDon_NgayThanhToanCuoi] ON [dbo].[HoaDon]
(
	[NgayThanhToanCuoi] DESC
)
WHERE ([NgayThanhToanCuoi] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_HoaDon_TrangThai]    Script Date: 6/12/2026 4:28:27 PM ******/
CREATE NONCLUSTERED INDEX [IX_HoaDon_TrangThai] ON [dbo].[HoaDon]
(
	[TrangThai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_HoaDon_TrangThai_NgayThanhToan]    Script Date: 6/12/2026 4:28:27 PM ******/
CREATE NONCLUSTERED INDEX [IX_HoaDon_TrangThai_NgayThanhToan] ON [dbo].[HoaDon]
(
	[TrangThai] ASC,
	[NgayThanhToanCuoi] ASC
)
INCLUDE([SoTienDaThanhToan],[TongThanhToan],[MaDatPhong]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_HoaDon_TrangThai_PhuongThuc_MaDatPhong]    Script Date: 6/12/2026 4:28:27 PM ******/
CREATE NONCLUSTERED INDEX [IX_HoaDon_TrangThai_PhuongThuc_MaDatPhong] ON [dbo].[HoaDon]
(
	[TrangThai] ASC,
	[PhuongThucThanhToan] ASC,
	[MaDatPhong] ASC
)
INCLUDE([MaHoaDon],[TongTienPhong],[TongThanhToan],[SoTienDaThanhToan]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_LinkAnh_DoiTuong]    Script Date: 6/12/2026 4:28:27 PM ******/
CREATE NONCLUSTERED INDEX [IX_LinkAnh_DoiTuong] ON [dbo].[LinkAnh]
(
	[DoiTuong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_LinkAnh_DoiTuong_DaiDien]    Script Date: 6/12/2026 4:28:27 PM ******/
CREATE NONCLUSTERED INDEX [IX_LinkAnh_DoiTuong_DaiDien] ON [dbo].[LinkAnh]
(
	[DoiTuong] ASC,
	[LaAnhDaiDien] ASC,
	[ThuTu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_LinkAnh_DoiTuong_TrangThai_DaiDien]    Script Date: 6/12/2026 4:28:27 PM ******/
CREATE NONCLUSTERED INDEX [IX_LinkAnh_DoiTuong_TrangThai_DaiDien] ON [dbo].[LinkAnh]
(
	[DoiTuong] ASC,
	[TrangThai] ASC,
	[LaAnhDaiDien] ASC,
	[ThuTu] ASC
)
INCLUDE([UrlAnh]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_MaGiamGia_ActiveLookup]    Script Date: 6/12/2026 4:28:27 PM ******/
CREATE NONCLUSTERED INDEX [IX_MaGiamGia_ActiveLookup] ON [dbo].[MaGiamGia]
(
	[TuNgay] ASC,
	[DenNgay] ASC,
	[HoaDonToiThieu] ASC,
	[TrangThai] ASC
)
INCLUDE([MaGiamGia],[CodeGiamGia],[TenMaGiamGia],[LoaiGiamGia],[GiaTriGiam],[GiamToiDa],[SoLuongPhatHanh]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Phong_MaLoaiPhong]    Script Date: 6/12/2026 4:28:27 PM ******/
CREATE NONCLUSTERED INDEX [IX_Phong_MaLoaiPhong] ON [dbo].[Phong]
(
	[MaLoaiPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Phong_MaLoaiPhong_TrangThai]    Script Date: 6/12/2026 4:28:27 PM ******/
CREATE NONCLUSTERED INDEX [IX_Phong_MaLoaiPhong_TrangThai] ON [dbo].[Phong]
(
	[MaLoaiPhong] ASC,
	[TrangThai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Phong_TrangThai]    Script Date: 6/12/2026 4:28:27 PM ******/
CREATE NONCLUSTERED INDEX [IX_Phong_TrangThai] ON [dbo].[Phong]
(
	[TrangThai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BangGiaPhong] ADD  DEFAULT ((1)) FOR [UuTien]
GO
ALTER TABLE [dbo].[BangGiaPhong] ADD  DEFAULT (N'Hoạt động') FOR [TrangThai]
GO
ALTER TABLE [dbo].[ChiTietHoaDon] ADD  CONSTRAINT [DF_CTHD_SoLuong]  DEFAULT ((1)) FOR [SoLuong]
GO
ALTER TABLE [dbo].[ChiTietHoaDon] ADD  CONSTRAINT [DF_CTHD_DonGia]  DEFAULT ((0)) FOR [DonGia]
GO
ALTER TABLE [dbo].[ChiTietHoaDon] ADD  CONSTRAINT [DF_CTHD_ThanhTien]  DEFAULT ((0)) FOR [ThanhTien]
GO
ALTER TABLE [dbo].[ChiTietHoaDon] ADD  CONSTRAINT [DF_CTHD_TrangThai]  DEFAULT (N'HIEU_LUC') FOR [TrangThai]
GO
ALTER TABLE [dbo].[DatPhong] ADD  DEFAULT (getdate()) FOR [NgayDat]
GO
ALTER TABLE [dbo].[DatPhong] ADD  DEFAULT (N'GIU_CHO') FOR [TrangThai]
GO
ALTER TABLE [dbo].[DichVu] ADD  DEFAULT (N'Hoạt động') FOR [TrangThai]
GO
ALTER TABLE [dbo].[DichVu] ADD  CONSTRAINT [DF_DichVu_LoaiDichVu]  DEFAULT (N'Tiện ích') FOR [LoaiDichVu]
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT ((0)) FOR [TongTienPhong]
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT ((0)) FOR [TongTienDichVu]
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT ((0)) FOR [TienDatCoc]
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT ((0)) FOR [TienGiamGiaPhong]
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT ((0)) FOR [TongThanhToan]
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT ((0)) FOR [SoTienDaThanhToan]
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT (N'CHUA_THANH_TOAN') FOR [TrangThai]
GO
ALTER TABLE [dbo].[LinkAnh] ADD  CONSTRAINT [DF_LinkAnh_ThuTu]  DEFAULT ((1)) FOR [ThuTu]
GO
ALTER TABLE [dbo].[LinkAnh] ADD  CONSTRAINT [DF_LinkAnh_LaAnhDaiDien]  DEFAULT ((0)) FOR [LaAnhDaiDien]
GO
ALTER TABLE [dbo].[LinkAnh] ADD  CONSTRAINT [DF_LinkAnh_TrangThai]  DEFAULT (N'Hoạt động') FOR [TrangThai]
GO
ALTER TABLE [dbo].[MaGiamGia] ADD  DEFAULT ((0)) FOR [HoaDonToiThieu]
GO
ALTER TABLE [dbo].[MaGiamGia] ADD  DEFAULT ((0)) FOR [SoLuongPhatHanh]
GO
ALTER TABLE [dbo].[MaGiamGia] ADD  DEFAULT ((0)) FOR [SoLuongDaDung]
GO
ALTER TABLE [dbo].[MaGiamGia] ADD  DEFAULT (N'Hoạt động') FOR [TrangThai]
GO
ALTER TABLE [dbo].[NhanVien] ADD  DEFAULT (N'Đang làm') FOR [TrangThai]
GO
ALTER TABLE [dbo].[Phong] ADD  DEFAULT (N'Trống') FOR [TrangThai]
GO
ALTER TABLE [dbo].[TaiKhoan] ADD  DEFAULT (N'Hoạt động') FOR [TrangThai]
GO
ALTER TABLE [dbo].[BangGiaPhong]  WITH NOCHECK ADD  CONSTRAINT [FK_BangGiaPhong_LoaiPhong] FOREIGN KEY([MaLoaiPhong])
REFERENCES [dbo].[LoaiPhong] ([MaLoaiPhong])
GO
ALTER TABLE [dbo].[BangGiaPhong] NOCHECK CONSTRAINT [FK_BangGiaPhong_LoaiPhong]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH NOCHECK ADD  CONSTRAINT [FK_CTHD_DichVu] FOREIGN KEY([MaDV])
REFERENCES [dbo].[DichVu] ([MaDV])
GO
ALTER TABLE [dbo].[ChiTietHoaDon] NOCHECK CONSTRAINT [FK_CTHD_DichVu]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH NOCHECK ADD  CONSTRAINT [FK_CTHD_HoaDon] FOREIGN KEY([MaHoaDon])
REFERENCES [dbo].[HoaDon] ([MaHoaDon])
GO
ALTER TABLE [dbo].[ChiTietHoaDon] NOCHECK CONSTRAINT [FK_CTHD_HoaDon]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_CTHD_LoaiPhong] FOREIGN KEY([MaLoaiPhong])
REFERENCES [dbo].[LoaiPhong] ([MaLoaiPhong])
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [FK_CTHD_LoaiPhong]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH NOCHECK ADD  CONSTRAINT [FK_CTHD_MaGiamGia] FOREIGN KEY([MaGiamGia])
REFERENCES [dbo].[MaGiamGia] ([MaGiamGia])
GO
ALTER TABLE [dbo].[ChiTietHoaDon] NOCHECK CONSTRAINT [FK_CTHD_MaGiamGia]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH NOCHECK ADD  CONSTRAINT [FK_CTHD_Phong] FOREIGN KEY([MaPhong])
REFERENCES [dbo].[Phong] ([MaPhong])
GO
ALTER TABLE [dbo].[ChiTietHoaDon] NOCHECK CONSTRAINT [FK_CTHD_Phong]
GO
ALTER TABLE [dbo].[DatPhong]  WITH NOCHECK ADD  CONSTRAINT [FK_DatPhong_KhachHang] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[DatPhong] NOCHECK CONSTRAINT [FK_DatPhong_KhachHang]
GO
ALTER TABLE [dbo].[DatPhong]  WITH NOCHECK ADD  CONSTRAINT [FK_DatPhong_NhanVien] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[DatPhong] NOCHECK CONSTRAINT [FK_DatPhong_NhanVien]
GO
ALTER TABLE [dbo].[HoaDon]  WITH NOCHECK ADD  CONSTRAINT [FK_HoaDon_DatPhong] FOREIGN KEY([MaDatPhong])
REFERENCES [dbo].[DatPhong] ([MaDatPhong])
GO
ALTER TABLE [dbo].[HoaDon] NOCHECK CONSTRAINT [FK_HoaDon_DatPhong]
GO
ALTER TABLE [dbo].[HoaDon]  WITH NOCHECK ADD  CONSTRAINT [FK_HoaDon_MaGiamGiaPhong] FOREIGN KEY([MaGiamGiaPhong])
REFERENCES [dbo].[MaGiamGia] ([MaGiamGia])
GO
ALTER TABLE [dbo].[HoaDon] NOCHECK CONSTRAINT [FK_HoaDon_MaGiamGiaPhong]
GO
ALTER TABLE [dbo].[Phong]  WITH NOCHECK ADD  CONSTRAINT [FK_Phong_LoaiPhong] FOREIGN KEY([MaLoaiPhong])
REFERENCES [dbo].[LoaiPhong] ([MaLoaiPhong])
GO
ALTER TABLE [dbo].[Phong] NOCHECK CONSTRAINT [FK_Phong_LoaiPhong]
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH NOCHECK ADD  CONSTRAINT [FK_TaiKhoan_NhanVien] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[TaiKhoan] NOCHECK CONSTRAINT [FK_TaiKhoan_NhanVien]
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH NOCHECK ADD  CONSTRAINT [FK_TaiKhoan_VaiTro] FOREIGN KEY([MaVaiTro])
REFERENCES [dbo].[VaiTro] ([MaVaiTro])
GO
ALTER TABLE [dbo].[TaiKhoan] NOCHECK CONSTRAINT [FK_TaiKhoan_VaiTro]
GO
ALTER TABLE [dbo].[BangGiaPhong]  WITH NOCHECK ADD  CONSTRAINT [CK_BangGiaPhong_Gia] CHECK  (([GiaApDung]>=(0)))
GO
ALTER TABLE [dbo].[BangGiaPhong] NOCHECK CONSTRAINT [CK_BangGiaPhong_Gia]
GO
ALTER TABLE [dbo].[BangGiaPhong]  WITH CHECK ADD  CONSTRAINT [CK_BangGiaPhong_LoaiGia] CHECK  (([LoaiGia]=N'NGAYLE' OR [LoaiGia]=N'THEOTHU' OR [LoaiGia]=N'MACDINH'))
GO
ALTER TABLE [dbo].[BangGiaPhong] CHECK CONSTRAINT [CK_BangGiaPhong_LoaiGia]
GO
ALTER TABLE [dbo].[BangGiaPhong]  WITH NOCHECK ADD  CONSTRAINT [CK_BangGiaPhong_ThoiGian] CHECK  (([TuNgay]<=[DenNgay]))
GO
ALTER TABLE [dbo].[BangGiaPhong] NOCHECK CONSTRAINT [CK_BangGiaPhong_ThoiGian]
GO
ALTER TABLE [dbo].[BangGiaPhong]  WITH CHECK ADD  CONSTRAINT [CK_BangGiaPhong_ThuApDung] CHECK  (([LoaiGia]=N'THEOTHU' AND ([ThuApDung]>=(2) AND [ThuApDung]<=(8)) OR ([LoaiGia]=N'NGAYLE' OR [LoaiGia]=N'MACDINH') AND [ThuApDung] IS NULL))
GO
ALTER TABLE [dbo].[BangGiaPhong] CHECK CONSTRAINT [CK_BangGiaPhong_ThuApDung]
GO
ALTER TABLE [dbo].[BangGiaPhong]  WITH NOCHECK ADD  CONSTRAINT [CK_BangGiaPhong_TrangThai] CHECK  (([TrangThai]=N'Ngừng áp dụng' OR [TrangThai]=N'Tạm ngưng' OR [TrangThai]=N'Hoạt động'))
GO
ALTER TABLE [dbo].[BangGiaPhong] NOCHECK CONSTRAINT [CK_BangGiaPhong_TrangThai]
GO
ALTER TABLE [dbo].[BangGiaPhong]  WITH CHECK ADD  CONSTRAINT [CK_BangGiaPhong_UuTien] CHECK  (([LoaiGia]=N'MACDINH' AND [UuTien]=(1) OR [LoaiGia]=N'THEOTHU' AND [UuTien]=(2) OR [LoaiGia]=N'NGAYLE' AND [UuTien]=(3)))
GO
ALTER TABLE [dbo].[BangGiaPhong] CHECK CONSTRAINT [CK_BangGiaPhong_UuTien]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH NOCHECK ADD  CONSTRAINT [CK_CTHD_DonGia] CHECK  (([DonGia]>=(0)))
GO
ALTER TABLE [dbo].[ChiTietHoaDon] NOCHECK CONSTRAINT [CK_CTHD_DonGia]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH NOCHECK ADD  CONSTRAINT [CK_CTHD_LoaiMuc] CHECK  (([LoaiMuc]=N'PHUTHU' OR [LoaiMuc]=N'GIAMGIADICHVU' OR [LoaiMuc]=N'DATCOC' OR [LoaiMuc]=N'DICHVU' OR [LoaiMuc]=N'PHONG'))
GO
ALTER TABLE [dbo].[ChiTietHoaDon] NOCHECK CONSTRAINT [CK_CTHD_LoaiMuc]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH NOCHECK ADD  CONSTRAINT [CK_CTHD_SoLuong] CHECK  (([SoLuong]>(0)))
GO
ALTER TABLE [dbo].[ChiTietHoaDon] NOCHECK CONSTRAINT [CK_CTHD_SoLuong]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH NOCHECK ADD  CONSTRAINT [CK_CTHD_SoNguoi] CHECK  (([SoNguoi]>(0)))
GO
ALTER TABLE [dbo].[ChiTietHoaDon] NOCHECK CONSTRAINT [CK_CTHD_SoNguoi]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH NOCHECK ADD  CONSTRAINT [CK_CTHD_TrangThai] CHECK  (([TrangThai]=N'DA_TINH_TIEN' OR [TrangThai]=N'HUY' OR [TrangThai]=N'HIEU_LUC'))
GO
ALTER TABLE [dbo].[ChiTietHoaDon] NOCHECK CONSTRAINT [CK_CTHD_TrangThai]
GO
ALTER TABLE [dbo].[DatPhong]  WITH NOCHECK ADD  CONSTRAINT [CK_DatPhong_ThoiGian] CHECK  (([NgayNhanPhong]<[NgayTraPhong]))
GO
ALTER TABLE [dbo].[DatPhong] NOCHECK CONSTRAINT [CK_DatPhong_ThoiGian]
GO
ALTER TABLE [dbo].[DatPhong]  WITH CHECK ADD  CONSTRAINT [CK_DatPhong_TrangThai] CHECK  (([TrangThai]=N'QUA_HAN_NHAN_PHONG' OR [TrangThai]=N'DA_HUY' OR [TrangThai]=N'TRA_PHONG' OR [TrangThai]=N'DA_NHAN_PHONG' OR [TrangThai]=N'DA_DAT_COC' OR [TrangThai]=N'GIU_CHO'))
GO
ALTER TABLE [dbo].[DatPhong] CHECK CONSTRAINT [CK_DatPhong_TrangThai]
GO
ALTER TABLE [dbo].[DichVu]  WITH NOCHECK ADD  CONSTRAINT [CK_DichVu_DonGia] CHECK  (([DonGia]>=(0)))
GO
ALTER TABLE [dbo].[DichVu] NOCHECK CONSTRAINT [CK_DichVu_DonGia]
GO
ALTER TABLE [dbo].[DichVu]  WITH CHECK ADD  CONSTRAINT [CK_DichVu_LoaiDichVu] CHECK  (([LoaiDichVu]=N'Ăn uống' OR [LoaiDichVu]=N'Tiện ích' OR [LoaiDichVu]=N'Vận chuyển' OR [LoaiDichVu]=N'Giải trí'))
GO
ALTER TABLE [dbo].[DichVu] CHECK CONSTRAINT [CK_DichVu_LoaiDichVu]
GO
ALTER TABLE [dbo].[DichVu]  WITH NOCHECK ADD  CONSTRAINT [CK_DichVu_TrangThai] CHECK  (([TrangThai]=N'Ngừng cung cấp' OR [TrangThai]=N'Tạm ngưng' OR [TrangThai]=N'Hoạt động'))
GO
ALTER TABLE [dbo].[DichVu] NOCHECK CONSTRAINT [CK_DichVu_TrangThai]
GO
ALTER TABLE [dbo].[HoaDon]  WITH NOCHECK ADD  CONSTRAINT [CK_HoaDon_PhuongThucThanhToan] CHECK  (([PhuongThucThanhToan]=N'QR' OR [PhuongThucThanhToan]=N'Thẻ' OR [PhuongThucThanhToan]=N'Chuyển khoản' OR [PhuongThucThanhToan]=N'Tiền mặt' OR [PhuongThucThanhToan] IS NULL))
GO
ALTER TABLE [dbo].[HoaDon] NOCHECK CONSTRAINT [CK_HoaDon_PhuongThucThanhToan]
GO
ALTER TABLE [dbo].[HoaDon]  WITH NOCHECK ADD  CONSTRAINT [CK_HoaDon_Tien] CHECK  (([TongTienPhong]>=(0) AND [TongTienDichVu]>=(0) AND [TienDatCoc]>=(0) AND [TienGiamGiaPhong]>=(0) AND [TongThanhToan]>=(0) AND [SoTienDaThanhToan]>=(0)))
GO
ALTER TABLE [dbo].[HoaDon] NOCHECK CONSTRAINT [CK_HoaDon_Tien]
GO
ALTER TABLE [dbo].[HoaDon]  WITH NOCHECK ADD  CONSTRAINT [CK_HoaDon_TrangThai] CHECK  (([TrangThai]=N'DA_HUY' OR [TrangThai]=N'DA_THANH_TOAN' OR [TrangThai]=N'THANH_TOAN_MOT_PHAN' OR [TrangThai]=N'CHUA_THANH_TOAN'))
GO
ALTER TABLE [dbo].[HoaDon] NOCHECK CONSTRAINT [CK_HoaDon_TrangThai]
GO
ALTER TABLE [dbo].[KhachHang]  WITH NOCHECK ADD  CONSTRAINT [CK_KhachHang_GioiTinh] CHECK  (([GioiTinh]=N'Khác' OR [GioiTinh]=N'Nữ' OR [GioiTinh]=N'Nam' OR [GioiTinh] IS NULL))
GO
ALTER TABLE [dbo].[KhachHang] NOCHECK CONSTRAINT [CK_KhachHang_GioiTinh]
GO
ALTER TABLE [dbo].[LinkAnh]  WITH CHECK ADD  CONSTRAINT [CK_LinkAnh_ThuTu] CHECK  (([ThuTu]>(0)))
GO
ALTER TABLE [dbo].[LinkAnh] CHECK CONSTRAINT [CK_LinkAnh_ThuTu]
GO
ALTER TABLE [dbo].[LinkAnh]  WITH CHECK ADD  CONSTRAINT [CK_LinkAnh_TrangThai] CHECK  (([TrangThai]=N'Ngừng sử dụng' OR [TrangThai]=N'Ẩn' OR [TrangThai]=N'Hoạt động'))
GO
ALTER TABLE [dbo].[LinkAnh] CHECK CONSTRAINT [CK_LinkAnh_TrangThai]
GO
ALTER TABLE [dbo].[LoaiPhong]  WITH NOCHECK ADD  CONSTRAINT [CK_LoaiPhong_SoNguoiToiDa] CHECK  (([SoNguoiToiDa]>(0)))
GO
ALTER TABLE [dbo].[LoaiPhong] NOCHECK CONSTRAINT [CK_LoaiPhong_SoNguoiToiDa]
GO
ALTER TABLE [dbo].[MaGiamGia]  WITH NOCHECK ADD  CONSTRAINT [CK_MaGiamGia_GiamToiDa] CHECK  (([GiamToiDa] IS NULL OR [GiamToiDa]>=(0)))
GO
ALTER TABLE [dbo].[MaGiamGia] NOCHECK CONSTRAINT [CK_MaGiamGia_GiamToiDa]
GO
ALTER TABLE [dbo].[MaGiamGia]  WITH NOCHECK ADD  CONSTRAINT [CK_MaGiamGia_GiaTri] CHECK  (([GiaTriGiam]>(0)))
GO
ALTER TABLE [dbo].[MaGiamGia] NOCHECK CONSTRAINT [CK_MaGiamGia_GiaTri]
GO
ALTER TABLE [dbo].[MaGiamGia]  WITH NOCHECK ADD  CONSTRAINT [CK_MaGiamGia_HoaDonToiThieu] CHECK  (([HoaDonToiThieu]>=(0)))
GO
ALTER TABLE [dbo].[MaGiamGia] NOCHECK CONSTRAINT [CK_MaGiamGia_HoaDonToiThieu]
GO
ALTER TABLE [dbo].[MaGiamGia]  WITH NOCHECK ADD  CONSTRAINT [CK_MaGiamGia_LoaiGiamGia] CHECK  (([LoaiGiamGia]=N'TIENMAT' OR [LoaiGiamGia]=N'PHANTRAM'))
GO
ALTER TABLE [dbo].[MaGiamGia] NOCHECK CONSTRAINT [CK_MaGiamGia_LoaiGiamGia]
GO
ALTER TABLE [dbo].[MaGiamGia]  WITH NOCHECK ADD  CONSTRAINT [CK_MaGiamGia_PhamVi] CHECK  (([PhamViApDung]=N'DICHVU' OR [PhamViApDung]=N'PHONG'))
GO
ALTER TABLE [dbo].[MaGiamGia] NOCHECK CONSTRAINT [CK_MaGiamGia_PhamVi]
GO
ALTER TABLE [dbo].[MaGiamGia]  WITH NOCHECK ADD  CONSTRAINT [CK_MaGiamGia_SoLuong] CHECK  (([SoLuongPhatHanh]>=(0) AND [SoLuongDaDung]>=(0) AND [SoLuongDaDung]<=[SoLuongPhatHanh]))
GO
ALTER TABLE [dbo].[MaGiamGia] NOCHECK CONSTRAINT [CK_MaGiamGia_SoLuong]
GO
ALTER TABLE [dbo].[MaGiamGia]  WITH NOCHECK ADD  CONSTRAINT [CK_MaGiamGia_ThoiGian] CHECK  (([TuNgay]<=[DenNgay]))
GO
ALTER TABLE [dbo].[MaGiamGia] NOCHECK CONSTRAINT [CK_MaGiamGia_ThoiGian]
GO
ALTER TABLE [dbo].[MaGiamGia]  WITH NOCHECK ADD  CONSTRAINT [CK_MaGiamGia_TrangThai] CHECK  (([TrangThai]=N'Hết lượt' OR [TrangThai]=N'Hết hạn' OR [TrangThai]=N'Tạm khóa' OR [TrangThai]=N'Hoạt động'))
GO
ALTER TABLE [dbo].[MaGiamGia] NOCHECK CONSTRAINT [CK_MaGiamGia_TrangThai]
GO
ALTER TABLE [dbo].[NhanVien]  WITH NOCHECK ADD  CONSTRAINT [CK_NhanVien_GioiTinh] CHECK  (([GioiTinh]=N'Khác' OR [GioiTinh]=N'Nữ' OR [GioiTinh]=N'Nam' OR [GioiTinh] IS NULL))
GO
ALTER TABLE [dbo].[NhanVien] NOCHECK CONSTRAINT [CK_NhanVien_GioiTinh]
GO
ALTER TABLE [dbo].[NhanVien]  WITH NOCHECK ADD  CONSTRAINT [CK_NhanVien_TrangThai] CHECK  (([TrangThai]=N'Nghỉ việc' OR [TrangThai]=N'Tạm nghỉ' OR [TrangThai]=N'Đang làm'))
GO
ALTER TABLE [dbo].[NhanVien] NOCHECK CONSTRAINT [CK_NhanVien_TrangThai]
GO
ALTER TABLE [dbo].[Phong]  WITH NOCHECK ADD  CONSTRAINT [CK_Phong_Tang] CHECK  (([Tang]>(0)))
GO
ALTER TABLE [dbo].[Phong] NOCHECK CONSTRAINT [CK_Phong_Tang]
GO
ALTER TABLE [dbo].[Phong]  WITH CHECK ADD  CONSTRAINT [CK_Phong_TrangThai] CHECK  (([TrangThai]=N'Ngưng sử dụng' OR [TrangThai]=N'Bảo trì' OR [TrangThai]=N'Đang dọn' OR [TrangThai]=N'Đang sử dụng' OR [TrangThai]=N'Đã đặt' OR [TrangThai]=N'Trống'))
GO
ALTER TABLE [dbo].[Phong] CHECK CONSTRAINT [CK_Phong_TrangThai]
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH NOCHECK ADD  CONSTRAINT [CK_TaiKhoan_TrangThai] CHECK  (([TrangThai]=N'Ngừng sử dụng' OR [TrangThai]=N'Tạm khóa' OR [TrangThai]=N'Hoạt động'))
GO
ALTER TABLE [dbo].[TaiKhoan] NOCHECK CONSTRAINT [CK_TaiKhoan_TrangThai]
GO
/****** Object:  StoredProcedure [dbo].[sp_DanhDauDatPhongQuaHanNhanPhong]    Script Date: 6/12/2026 4:28:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_DanhDauDatPhongQuaHanNhanPhong]
    @Today date = NULL
AS
BEGIN
    SET NOCOUNT ON;

    IF @Today IS NULL
    BEGIN
        SET @Today = CAST(SYSDATETIMEOFFSET() AT TIME ZONE 'SE Asia Standard Time' AS date);
    END;

    DECLARE @Expired TABLE (
        MaDatPhong char(10) PRIMARY KEY
    );

    UPDATE dp
    SET
        TrangThai = N'QUA_HAN_NHAN_PHONG',
        GhiChu =
            LEFT(
                COALESCE(NULLIF(dp.GhiChu, N''), N'')
                + CASE WHEN NULLIF(dp.GhiChu, N'') IS NULL THEN N'' ELSE N'; ' END
                + N'Tự động đánh dấu quá hạn nhận phòng do khách không đến.',
                255
            )
    OUTPUT inserted.MaDatPhong INTO @Expired(MaDatPhong)
    FROM dbo.DatPhong dp
    INNER JOIN dbo.HoaDon hd ON hd.MaDatPhong = dp.MaDatPhong
    WHERE dp.TrangThai IN (N'GIU_CHO', N'DA_DAT_COC')
      AND dp.NgayNhanPhong < @Today
      AND hd.TrangThai IN (N'DA_THANH_TOAN', N'THANH_TOAN_MOT_PHAN');

    -- Nếu booking quá hạn đã gán phòng vật lý thì trả phòng về Trống,
    -- miễn là phòng đó không đang thuộc booking đang hoạt động khác.
    UPDATE p
    SET TrangThai = N'Trống'
    FROM dbo.Phong p
    WHERE p.TrangThai IN (N'Đã đặt', N'Đang sử dụng')
      AND EXISTS (
          SELECT 1
          FROM dbo.ChiTietHoaDon c
          INNER JOIN dbo.HoaDon hd ON hd.MaHoaDon = c.MaHoaDon
          INNER JOIN @Expired e ON e.MaDatPhong = hd.MaDatPhong
          WHERE c.MaPhong = p.MaPhong
            AND c.LoaiMuc = N'PHONG'
            AND c.TrangThai = N'HIEU_LUC'
      )
      AND NOT EXISTS (
          SELECT 1
          FROM dbo.ChiTietHoaDon c2
          INNER JOIN dbo.HoaDon hd2 ON hd2.MaHoaDon = c2.MaHoaDon
          INNER JOIN dbo.DatPhong dp2 ON dp2.MaDatPhong = hd2.MaDatPhong
          WHERE c2.MaPhong = p.MaPhong
            AND c2.LoaiMuc = N'PHONG'
            AND c2.TrangThai = N'HIEU_LUC'
            AND dp2.TrangThai IN (N'GIU_CHO', N'DA_DAT_COC', N'DA_NHAN_PHONG')
            AND dp2.NgayNhanPhong <= @Today
            AND dp2.NgayTraPhong > @Today
      );

    SELECT COUNT(*) AS SoDatPhongQuaHan
    FROM @Expired;
END;
GO
USE [master]
GO
