ConnectionStrings__DefaultConnection=Server=localhost;Database=PBL3;User Id=pbl3_app;Password=YOUR_PASSWORD;TrustServerCertificate=True;MultipleActiveResultSets=true
Payment__VnPay__TmnCode=
Payment__VnPay__HashSecret=
Payment__VnPay__PaymentUrl=https://sandbox.vnpayment.vn/paymentv2/vpcpay.html
